*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home{
    width: 600px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
.container{
    width: 500px;
    /* height: 500px; */
    padding: 20px 10px;
    background: #CCC;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(136, 136, 136),
                -1px -1px 5px rgb(136, 136, 136);
    overflow: hidden;
    width: 100%;
    margin-top:30px; 
}
.btns button{
    width: 50%;
    height: 50px;
    background: rgb(80, 80, 218);
    border: 0;
    color: white;
    font-size: 21px;
}
.btns button:active{
    background:rgb(49, 49, 206);
}